/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}

section{
	width: 65.625%;                  
	float: right;
	padding: 0 2.5% 20px 2.5%;
}

aside{
	width: 26.875%;                     
	float: right;
	padding: 0 0 20px 2.5%; 
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 99%;                     
    max-width: 960px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

html{
	background-color: white;
}

header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em; 
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0,0,0,0;
}

article{
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}

article img{
	float: right;
	border: 1px solid black;
	max-width: 40%;
	min-width: 150px;
}

article h2{
	padding-top: 0;
}

article h3{
	font-size: 105%;
	padding-bottom: .25em;
}

section h2{
	font-size: 130%;
	color:#800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h2{
	font-size: 130%;
	color:#800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}

a:focus, a:hover {
	font-style: italic;
}

.shadow{
	text-shadow:2px 2px #800000;
}

h2 {
	font-size: 175%;
	color: #800000;
}

h3{
	font-size: 130%;
	font-style: italic;
}

/* the styles for the header */
header img {
	float: left;
	padding: 0 3.75%; 
}

header h2{
	text-indent: none;
}

header h3{
	text-indent: none;
}

/* the styles for the section */
main {
	clear: left;
}

aside img{
	padding-bottom: 1em;
}

section p{
	padding-bottom: .5em;
}

section blockquote{
	padding-left: 2em;
	padding-right: 2em;
}

section ul{
	padding-left: 1.25em;
	padding-bottom: .25em;
	list-style-type: circle;
}

section li{
	padding-bottom: .35em;
}

/* the styles for the footer */
footer{
	background-color: #931420;
	clear: both;
}

footer p{
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

#nav_menu ul{
	margin:0;
	padding:0;
	list-style-type: none;
	position: relative;
}

#nav_menu ul li{
	float: left;
	width: 20%;  
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
	width: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }
}

@media only screen and (max-width: 767px) {
	header img { float: none; }
	header { text-align: center; }
	section {
		float: none;
		width: 95%;                     
	}
	aside {
		float: none;
		padding-right: 2.5%;          
		width: 95%;                   
	}
	article img { max-width: 30%; }
	#speakers {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}

@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
}



