/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}

section{
	width: 525px;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

html{
	background-color: white;
}

header{
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em; 
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0,0,0,0;
}

article{
	padding-top: .5em;
	padding-bottom: .5em;
}

article img{
	float: right;
	border: 1px solid black;
}

article h2{
	padding-top: 0;
}

article h3{
	font-size: 105%;
	padding-bottom: .25em;
}



/*main h1{
	font-size: 150%;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	padding-top: .3em;
	padding-bottom: .3em;
}*/

section h1{
    color: #800000;
}

section h2{
	font-size: 120%;
	color:black;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h2{
	font-size: 130%;
	color:#800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}

a:hover{
	font-style: italic;
}

.shadow{
	text-shadow:1px 1px #800000;
}

h2 {
	font-size: 170%;
	color: #800000;
}

h3{
	font-size: 130%;
}

/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

header h2{
	text-indent: none;
}

header h3{
	text-indent: none;
}

/* the styles for the section */
main {
	clear: left;
}

aside img{
	padding-bottom: 1em;
}

section p{
	padding-bottom: .5em;
}

section blockquote{
	padding-left: 2em;
	padding-right: 2em;
}

section ul{
	padding-left: 1.25em;
	padding-bottom: .25em;
}

section li{
	padding-bottom: .35em;
}

/* the styles for the footer */
footer{
	background-color: #931420;
	clear: both;
	
}

footer p{
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}